[Unit]
Description=Sprockets-Cogs Astro daily service
Documentation=https://github.com/CosmoGSpacely/sprockets-cogs

[Service]
Type=oneshot
WorkingDirectory=/home/cosmo/sprockets-cogs
ExecStart=/home/cosmo/sprockets-cogs/scripts/nightly
NoNewPrivileges=true
