[Unit]
Description=Run Sprockets-Cogs Astro daily service
Documentation=https://github.com/CosmoGSpacely/sprockets-cogs

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true
Unit=sprockets-cogs-nightly.service

[Install]
WantedBy=timers.target
